body {
	background-color: #00598e;
	font-family: sans-serif;
	color: white;
}

#emailVerifyMsg {
	position: absolute;
	left: 0px;
	top: 20px;
	display: none;
	
	
}

.newUser {
	font-size: 15px;
	float: right;
	color: #aaa;
}

.newUser a {
	color: #71d6d1;
}

.newUser a:hover {
	text-decoration: none;
	color: #b4faf4;
}


h1 {
	text-align: center; 
	color: #71c6c1;
}

.vcenter {
	 margin-top: 10%; 
}

.loginForm {
	border-radius: 5px;
	color: white;
	padding: 30px 10% 50px 10%;
	background: rgba(0,0,0,0.4);
}



.copyright {
	text-align: center;
	padding-top: 3px;
}

a {
	cursor: pointer;
}

.glyphiconBg {
	background-color: #00598e;
	color: white;
	border: none;
}

.small-plus {
	font-size: 0.7em;
	vertical-align: top;
	margin-top: -3px;
	margin-left: -2px;
}

.input-group {
	margin: 15px 0;
	
}

.loginbtn {
	margin-top: 25px;
	height: 40px;
	font-size:18px;
	font-weight:bold;
	letter-spacing:2px;
}

#activityLoader {
	position: absolute;
	left: 30%;
	display: none;
	
}

#loginMessage {
	margin-top: 10px;
	float: right;
	font-size: 15px;
	text-shadow: 0 0 15px black;
}

#forgot a{
	float: left;
	margin-top: 10px;
	color: grey;
}

#forgot a:hover {
	text-decoration: none;
	color: white;
}

#signUpMessage{
	margin-top: 10px;
	float: right;
	font-size: 15px;
	text-shadow: 0 0 15px black;
}

.header {
  background: rgba(0,0,0,0.4);
	
}
.userIcon {
	padding-right:50px;
}

.passwordMenu {
	margin-top: 50px;
	background-color:#e4f4e4;
	padding: 10px;
	width:245px;
	text-align: center;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.changePassword {
	font-size: 15px;
	text-decoration: none;
}

.changePassword:hover {
	text-decoration: none;
	color: #5f7f5f;
	font-size: 16px;
}

.passwordModal {
	width: 35%;
	color: #005080;
}

.passwordModal input {
	margin: 10px;
	width: 95%;
}

#passwordMessage {
	color: #9f0000;
	float: left;
	font-size: 14px;
}

.affix {
      top:1px;
      width: 100%;
  }

.content {
	background-color: #062f3c;
	padding-bottom: 50px;
	min-height:420px;
}

.navbar {
	margin-bottom: 0;
}

.searchBox {
  width: 200px;
	float: right;
	margin: 8px;
	cursor: pointer;
}

.searchBox-sm {
	display: none;
}

.dataBox {
	border: 1px solid white;
	margin-top: 30px;
	border-radius: 10px;
}

.boxHeader {
	background-color: rgba(120,140,182, 0.4);
	border-radius: 12px 12px 0 0;
}

.moreInfoFields {
	border-top: 1px solid #a5acaf;
}

.moreInfoFields:nth-child(4n+1) {
	background-color: rgba(165,172,175, 0.1)
}

.moreInfoFields:nth-child(4n+2) {
	background-color: rgba(165,172,175, 0.1)
}

.moreInfoFields:nth-child(4n+3) {
	background-color: rgba(165,172,175, 0.2)
}

.moreInfoFields:nth-child(4n) {
	background-color: rgba(165,172,175, 0.2)
}

.passwordField {
	background: none;
	border: none;
	width: 50%;
}

.cardField {
	background: none;
	border: none;
	width: 120px;
	
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  
	.cardField {
		letter-spacing: .08em;
	}
}

.filterBar {
	padding: 10px;
	text-align: center;
	background-color: rgba(0,0,0,.7);
}

#infoType {
	color: black;
	width: 60%;
	
}

.infoForm {
	padding: 30px
}

.infoForm .input-group {
  	margin: 0; 
}

.input_status {
	padding-top: 10px
}

.alert {
	padding-top:5px;
	padding-bottom:5px;
}

.fileLink {
	color: orange;
	
}

.fileLink:hover {
	color: white;
	text-decoration:none;
}

.editDelete {
	padding-right: 0px;
	color: #aaa;
}

.glyphicon-edit, .glyphicon-trash{
	cursor: pointer;
}

.glyphicon-edit:hover {
	color: white;
}

.glyphicon-trash:hover {
	color: #B00E0E;
}

.jumbotron {
	width: 80%;
	margin: 50px auto;
	background-color: #545454;
	padding:20px;
	text-align:center;
}

.footer {
	padding: 10px;
	text-align: center;
	background-color: rgba(34,34,34,1);
	color: #71c6c1;
}

.goldStar {
	color: #FFD700;
}


/* Extra Small Devices, Phones */ 
@media (min-width : 320px) {

	.logo {
		width:65px;
	  float: left;	
	}
	
	.header h1 {
		font-size:2.1em;
		text-align: center;
		margin: 0;
		padding:8% 5%;
	}
	.vcenter {
		margin-top: 20%; 
  	}
	.searchBox {
		display: none;
	}

	.searchBox-sm {
		display:inline-table;
		margin: 10px 25px;
		
	}
	
	.passwordMenu {
		width: 100%;
	}
	
	.passwordModal {
		width: 95%;
		
	}
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {
  
	.logo {
		width:45px;
	  	float: none;
	  	margin-top: -25px;	
	}
	
	.header h1 {
		font-size:2.5em;
		padding:4%;
	}
	.vcenter {
	  margin-top: 30%; 
  }
	
	.passwordMenu {
	  width: 245px;
	
	}
	.passwordModal {
		width: 65%;
		
	}
}

/* Small Devices, Tablets */
@media (min-width : 768px) {
	

  .header h1 {
		text-align: left;
	}
	.vcenter {
	  margin-top: 10%; 
  }
	
	.userIcon {
/* 		padding-right:100px; */
		width:260px;
	}
	
	.searchBox {
		display:inline-table;
    	
		
	}

	.searchBox-sm {
		display: none;
	}

	.passwordModal {
		width: 35%;
		
	}

}

@media (min-width: 1000px) {

	
  	.container{
    	max-width: 80%;
  	}
	.affix {
      	top:1px;
      	width: 80%;
 	 }
	

}

